


<div class="admin-container">
  <%= link_to "Admin Log Out", admin_logOut_path, class: "btn btn-danger" %>
  
  <h1>Admin Home</h1>

  <div class="section-title">Users' All Books Uploaded by Users</div>

  <%= link_to "Add Book", new_book_path, class: "add-book-btn" %>

  <% @books.each do |book| %>
    <div class="book-item">
      <div class="book-info">
        <% if book.bookCover.attached? %>
          <%= image_tag url_for(book.bookCover), alt: "Book Cover" %>
        <% else %>
          <p>No book cover image uploaded</p>
        <% end %>
        <%= link_to book.title, book_path(book), class: "book-title" %>
      </div>

      <div class="book-actions">
        <%= link_to "Edit", edit_book_path(book), class: "book-actions" %>
        <%= link_to "Delete", book_path(book), method: :delete, remote: true, data: { confirm: "Are you sure?" }, class: "book-actions delete" %>
      </div>
    </div>
  <% end %>

  <%= link_to "Show All Users", admin_allusers_path, class: "link" %>
</div>

