
<%= form_with model: @user, local: true do |form| %>
  <div class="form-container">
    <h2>Create an Account</h2>

    <div>
      <%= form.label :firstName %>
      <%= form.text_field :firstName, class: 'form-input' %>
    </div>

    <div>
      <%= form.label :lastName %>
      <%= form.text_field :lastName, class: 'form-input' %>
    </div>

    <div>
      <%= form.label :email %>
      <%= form.email_field :email, class: 'form-input' %>
    </div>

    <div>
      <%= form.label :profileImage %><br><br>
      <%= form.file_field :profileImage, class: 'form-input' %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-input' %>
    </div>

    <div>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: 'form-input' %>
    </div>

    <div>
      <%= form.submit "Sign Up" %>
    </div>

    <div class="link">
      <%= link_to "Already have an account? Login here", login_user_path %>
    </div>
  </div>
<% end %>


